#quote {
	position: fixed;
	text-align: center;
	width: 70%;
	margin: auto;
	top: 35%;
	left: 15%;
	padding: 0 8px 0 8px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20pt;
}

#source {
	position: absolute;
	text-align: right;
	top: 110%;
	right: -2%;
	font-family: 'Oswald', sans-serif;
	font-size: 12pt;
	padding: 0 12px 0 12px;
}

#linkbar {
	height: 20px;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 6 0 6 0;
	background-color: #888;
	box-shadow: 0px 2px 1px 0 rgba(0,0,0,0.3);
}

body {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	color: whitesmoke;
}

#background {
	position: fixed;
	width: auto;
	height: 100%;
	z-index: -10;
}

.linkTab {
	font-family: Anonymous Pro;
	text-transform: uppercase;
	margin: 0 8px 0 8px;
	padding: 2px 6px 2px 6px;
	font-weight: 800;
}

.linkTab .menuItem {
	padding: 2px 0 0 2px;
	font-weight: 400;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}


.linkTab .tabMenu {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	animation: none;
	width: 100%;
	padding: 2px 6px 2px 6px;
	margin-left: -6px;
}

.linkTab:hover .tabMenu {
	visibility: visible;
	animation: fadeInDown .3s ease-in;
	-webkit-animation: fadeInDown .3s;
}

a {	color: whitesmoke; }

.menuItem img {
	float: left;
	margin-right: 3px;
}

/*Material shadow*/
.material, .linkTab:hover, .linkTab .tabMenu {
	background-color: #888;
	box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.3);
}